
<div id="mere">
    <nav class="navbar navbar-light second_nav">
       <button type="submit" id="cheque" class="btn btn-secondary btn-lg" (click)="voircheques()">Checking Accounts</button>
          <button type="submit" id="epargne" class="btn btn-secondary btn-lg"(click)="voirepargnes()">Saving Accounts</button> 
     </nav> 
   <br>
   <div class="container " id="cc">
      <div class="panel panel-primary ">
           <div class="panel-heading"*ngIf="!comptes===null">Accounts
              
          </div>
          <div class="panel-heading"*ngIf="comptes===null">Pas de compte
              
       </div>
           <div class="panel-body"  >
               <div *ngIf="comptes===null" id="im5">
                   <img id="testtt"src="../../assets/image/im5.png"  />
               </div>
               <table  *ngIf="comptes!=null">
                   <thead><tr>
                       <th class="pos media1 " scope="col"></th>
                       <th  class="pos media1"scope="col">Type</th>
                       <th  class="pos "scope="col">Numero de compte</th>
                       <th  class="pos media1 vari"scope="col">Date de creation</th>
                       <th  class="pos " scope="col">Status</th>
                       <th  class="pos"scope="col" >balance</th>
                       <th  class="pos media1 vari"scope="col">numinternational</th></tr>
           </thead>
           <tbody *ngFor="let cmp of comptes | paginate:{id:'listing_pagination',itemsPerPage:5,currentPage:page,
           totalItems: totalRecords}">
                   <tr  class="test"(click)="select(cmp)">
                     <td  class="pos media1"*ngIf="cmp.frais==null" ><div><img src="../../assets/image/im2.png"  /></div></td>
                     <td  class="pos media1"*ngIf="cmp.taux==null" ><div><img src="../../assets/image/im1.png"  /></div></td>
                     <td  class="pos media1" *ngIf="cmp.frais==null">epargne</td>
                     <td  class="pos media1" *ngIf="cmp.taux==null">cheque</td>
                       <td  class="pos">{{cmp.numcompte}}</td>
                       <td  class="pos media1 vari ">{{cmp.creation_date| date :'shortDate'}}</td>
                       <td   class="pos"*ngIf="cmp.is_suspended==false">Active</td>
                       <td  class="pos"*ngIf="cmp.is_suspended==true">Desactivé</td>
                       <td  class="pos">{{cmp.balance}}</td>
                       <td  class="pos media1 vari">{{cmp.numinternational}}</td>
                        </tr>
                </tbody>
               </table><div>
       <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
     </div>
             </div>
       </div>
      <div id="details"> <app-account-details  [compte]="ccompte"></app-account-details></div>
      
   </div></div>


            
              
                      
       