.MyAccount{
    background-color: #02BDF2;
    color: white;
    text-align: center;
    font-weight: lighter;
    
    padding-bottom: 1px;
     
}

.Etat{
    background-color: #485173;
    
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    color:white;
    padding-left: 2%;
    
}
.Etat2{
    color: #6A6A6A;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    
    padding-left: 2%;
}
.ajuster{
    height: 40%;
    width: 80%;
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 10%;
    margin-top : 40px;
    margin-bottom: 10px;
    position: relative;
   
    border: 1px solid #00B4DB;
    box-shadow:  -1px 1px #F8F8FF,
         -2px 2px #F8F8FF,
         -3px 3px #F8F8FF,
         -4px 4px #F8F8FF,
         -5px 5px #F8F8FF;

}
.mat-title{
    text-align: left;
    margin-left: 10%;
  }


  #im3{
    height: 30%;
    width: 60%;
    
    margin-left: 20%;
   
    
    
 }
 #ima3{
    border: 2px solid rgba(219, 168, 0, 0.89);
    height: 150px;
    width: 100%;
 }
